<%if !comment.archived?%>
  <b> <%= comment.user.email%></b>: <%= comment.body %>
  <p>
  <%if comment.author?(current_user)%>
    <%= link_to "Destroy Comment", [comment.post, comment], data: {
                  turbo_method: :delete,
                  turbo_confirm: "Are you sure?"
                  } %>
  <% end %>
  </p>
<% end %>


