
  <b> <%= comment.user.username%></b>: <div><%= comment.body %></div>
 
  <%if comment.author?(current_user)%>
    <%= link_to "Destroy", [comment.post, comment], data: {
                  method: :delete,
                  confirm: "Are you sure?"
                  } %>
  <% end %>
  <br>


