<% @posts.each do |post| %>
<div>
    <% if !post.archived?%>
    <%= post.user.email%> <br>
    <%= image_tag post.image_url, :style => "height: 500px;width:500px"%><br>
    <%= link_to post.body, post %> 
    <% end %>
</div>
<% end %>
<%= link_to "New", new_post_path %>
